<?xml version="1.0" encoding="UTF-8"?>
<manifest>
 
  <remote name="github_spring" fetch="https://github.com" />
  <remote name="oplus" fetch="https://github.com/avalon-stuffs"/>
  <remote name="fork" fetch="https://github.com/"/>
  <remote name="gitlab_spring" fetch="https://gitlab.com" />

    <remove-project path="hardware/qcom-caf/sm8650/audio/agm" />
    <remove-project path="hardware/qcom-caf/sm8650/audio/pal" />
    <remove-project path="hardware/qcom-caf/sm8650/audio/primary-hal" />
    <remove-project path="hardware/qcom-caf/sm8650/audio/graphservices" />
    <remove-project path="hardware/qcom-caf/sm8650/display" />
    <remove-project path="hardware/qcom-caf/sm8650/dataipa" />
    <remove-project path="hardware/qcom-caf/sm8650/data-ipa-cfg-mgr" />
  

    <!-- removals -->
   <remove-project name="PixelOS-AOSP/android_vendor_custom"/>
   <remove-project name="PixelOS-AOSP/android_packages_apps_DolbyAtmos"/>
   <remove-project name="PixelOS-AOSP/android_frameworks_av"/>
   <remove-project name="PixelOS-AOSP/android_packages_apps_Settings"/>
   <remove-project name="PixelOS-AOSP/android_frameworks_base"/>

   <!-- Forks -->
  <project path="vendor/custom" name="Krishna-s-Hub/android_vendor_custom" remote="fork" revision="test" />
  <project path="frameworks/av" name="Krishna-s-Hub/android_frameworks_av" remote="fork" revision="sixteen-qpr2" />
  <project path="frameworks/base" name="Krishna-s-Hub/android_frameworks_base" groups="pdk-cw-fs,pdk-fs,sysui-studio" remote="fork" revision="test" />
  <project path="packages/apps/Settings" name="Krishna-s-Hub/android_packages_apps_Settings" groups="pdk-fs,pdk-cw-tvc,sysui-studio" remote="fork" revision="sixteen-qpr2" />
  <project path="packages/apps/LunarisDolby" name="android_packages_apps_LunarisDolby" remote="oplus" revision="16" />

<project
        name="spring4ever/android_vendor_qcom_opensource_agm"
        path="hardware/qcom-caf/sm8650/audio/agm"
        remote="github_spring"
        revision="lineage-23.2-caf-sm6375-6.1" />

    <project
        name="spring4ever/android_vendor_qcom_opensource_arpal-lx"
        path="hardware/qcom-caf/sm8650/audio/pal"
        remote="github_spring"
        revision="lineage-23.2-caf-sm6375-6.1" />

    <project
        name="spring4ever/android_hardware_qcom_audio-ar"
        path="hardware/qcom-caf/sm8650/audio/primary-hal"
        remote="github_spring"
        revision="lineage-23.2-caf-sm6375-6.1" />

    <project
        name="spring4ever/android_vendor_qcom_opensource_audioreach-graphservices"
        path="hardware/qcom-caf/sm8650/audio/graphservices"
        remote="github_spring"
        revision="lineage-23.2-caf-sm6375-6.1" />

    <project
        name="spring4ever/android_hardware_qcom_display"
        path="hardware/qcom-caf/sm8650/display"
        remote="github_spring"
        revision="lineage-23.2-caf-sm6375-6.1" />

    <project
        name="spring4ever/android_vendor_qcom_opensource_dataipa"
        path="hardware/qcom-caf/sm8650/dataipa"
        remote="github_spring"
        revision="lineage-23.2-caf-sm6375-6.1" />

    <project
        name="spring4ever/android_vendor_qcom_opensource_data-ipa-cfg-mgr"
        path="hardware/qcom-caf/sm8650/data-ipa-cfg-mgr"
        remote="github_spring"
        revision="lineage-23.2-caf-sm6375-6.1" />

 
<project name="manohar199/android_device_xiaomi_spring"
         path="device/xiaomi/spring"
         remote="github_spring"
         revision="pixel16" />

<project name="manohar199/android_vendor_xiaomi_spring"
         path="vendor/xiaomi/spring"
         remote="github_spring"
         revision="lineage-23.2" />
 <project
        path="device/xiaomi/spring-kernel"
        name="spring01/android_device_xiaomi_spring-kernel"
        remote="gitlab_spring"
        revision="lineage-23.2" />
 
<project name="LineageOS/android_hardware_xiaomi"
         path="hardware/xiaomi"
         remote="github_spring"
         revision="lineage-23.2" />

<project path="vendor/lineage-priv/keys" 
             name="manohar199/android_vendor_lineage-priv_keys" 
             remote="github_spring" 
             revision="master" />

  <!-- Extras -->
  

  <project path="vendor/sony/dolby"
           name="proprietary_vendor_sony_dolby"
           remote="oplus"
           revision="16" />

  <project path="vendor/bcr"
           name="vendor_bcr"
           remote="oplus"
           revision="main" />

</manifest>
