<?xml version="1.0" encoding="UTF-8"?>
<manifest>
 
  <remote name="github_spring" fetch="https://github.com" />
  
<project name="manohar199/android_device_xiaomi_spring"
         path="device/xiaomi/spring"
         remote="github_spring"
         revision="pixel16" />

<project name="manohar199/android_vendor_xiaomi_spring"
         path="vendor/xiaomi/spring"
         remote="github_spring"
         revision="lineage-23.2" />

<project name="manohar199/android_device_xiaomi_spring-kernel"
         path="device/xiaomi/spring-kernel"
         remote="github_spring"
         revision="lineage-23.2" />
 
<project name="manohar199/hardware_qcom-caf_blair_display"
         path="hardware/qcom-caf/blair/display"
         remote="github_spring"
         revision="lineage-23.2" />
 
<project name="LineageOS/android_hardware_xiaomi"
         path="hardware/xiaomi"
         remote="github"
         revision="lineage-23.2" />

</manifest>
