<?xml version="1.0" encoding="UTF-8"?>
<manifest>
 
  <remote name="github_spring" fetch="https://github.com" />
  
<project name="manohar199/android_device_xiaomi_spring"
         path="device/xiaomi/spring"
         remote="github_spring"
         revision="lineage-23.2" />

<project name="manohar199/android_vendor_xiaomi_spring"
         path="vendor/xiaomi/spring"
         remote="github_spring"
         revision="lineage-23.2" />

<project name="manohar199/android_device_xiaomi_spring-kernel"
         path="device/xiaomi/spring-kernel"
         remote="github_spring"
         revision="lineage-23.2" />
<project name="spring4ever/android_hardware_qcom_display"
         path="hardware/qcom/display"
         remote="github_spring"
         revision="lineage-23.2" />

<project name="spring4ever/android_hardware_qcom_audio-ar"
         path="hardware/qcom/audio-ar"
         remote="github_spring"
         revision="lineage-23.2" />

<project name="spring4ever/android_vendor_qcom_opensource_agm"
         path="vendor/qcom/opensource/agm"
         remote="github_spring"
         revision="lineage-23.2" />

<project name="spring4ever/android_vendor_qcom_opensource_arpal-lx"
         path="vendor/qcom/opensource/arpal-lx"
         remote="github"
         revision="lineage-23.2" />

<project name="spring4ever/android_vendor_qcom_opensource_dataipa"
         path="vendor/qcom/opensource/dataipa"
         remote="github_spring"
         revision="lineage-23.2" />

<project name="spring4ever/android_vendor_qcom_opensource_data-ipa-cfg-mgr"
         path="vendor/qcom/opensource/data-ipa-cfg-mgr"
         revision="lineage-23.2"
         remote="github_spring" />

<project name="spring4ever/android_vendor_qcom_opensource_audioreach-graphservices"
         path="vendor/qcom/opensource/audioreach-graphservices"
         revision="lineage-23.2"
         remote="github_spring" />

</manifest>
